.shooting-star {
  position: fixed;
  width: 3px;
  height: 3px;
  background: var(--globalYellow);
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  animation: shoot var(--duration, 3s) ease-in infinite, flash var(--flash-duration, 10000ms) ease infinite;
  animation-delay: var(--delay, 0s);

}

@keyframes shoot {
  0% {
    transform: translate(var(--start-x), var(--start-y)) rotate(45deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translate(var(--end-x), var(--end-y)) rotate(45deg);
    opacity: 0;
  }
}

@keyframes flash {

  0%,
  100% {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0);
  }

  5% {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1);
  }

  10%,
  30% {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  }

  15% {
    box-shadow: 0 0 18px 4px rgba(255, 255, 255, 0.9);
  }

  20% {
    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.8);
  }
}
