.HeadderButton {
  height: 2.5rem;
  width: 7rem;
  justify-content: center;
  font-size: large;
  display: flex;
  align-items: center;
  border: 2px solid var(--globalYellow);
  background-color: var(--space-dark);
  color: var(--globalYellow);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.HeadderButton::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 164, 68, 0.961);
  transition: top 0.3s ease-in-out;
  z-index: 0;
}

.HeadderButton:hover::before {
  top: 0;
}

.HeadderButton:hover {
  color: var(--space-dark);
}

.HeadderButton * {
  position: relative;
  z-index: 1;
}

.HeadderButtonLink {
  color: inherit;
  font-weight: 850;
}
