.HeadderContainer {
  position: sticky;
  top: 0;
  background-color: var(--space-dark);
  width: 100vw;
  height: 6vh;
  color: black;
  border-bottom: 2px solid var(--globalYellow);
  display: flex;
  align-items: center;
  z-index: 2;
}
.HeadderListItems {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5rem;
}
