:root {
  --mazeDimensions: 90vw;
  --mazePathCellColour: rgba(216, 164, 68, 0.961);
  --mazeWallCellColour: rgba(0, 0, 0, 0.945);
}
.MazeViewContainer {
  background-color: rgba(128, 128, 128, 0.276);
  height: 90%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MazeGrid {
  background-color: rgba(255, 255, 0, 0.257);
  height: var(--mazeDimensions);
  max-height: 95%;
  width: var(--mazeDimensions);
  display: grid;
  overflow: hidden;
  position: relative;
}

.MazeGrid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 3px var(--mazeWallCellColour) inset;
  pointer-events: none;
}

.MazeCell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mazePathCellColour);
  margin: 0px;
}
